
#main{
  background-color: rgba(0,0,0,0.1);
  font-family: sans-serif;
  padding-bottom: 25px;
  border-radius: 5px;
}



h3{
	font-weight: 5px;
	font-size: 30px;
}


#title{
  text-align: center;
  padding-top: 2px;
  font-weight: 1px;
}

#img-div{
	margin: 15px;
	border-radius: 5px;
  	background-color: white;
   	display: flex;
   	flex-direction: column;
   	align-items: center;
}

#image{
	width: 90%;
	height: auto;
	padding: 10px;
	align-content: center;
	filter: grayscale(80%);
	border-radius: 5px;
}

#img-caption{
	padding: 15px;
}

#tribute-info{
	padding-top: 30px;
	font-size: 10px;
	padding-left: 20%;
	padding-right: 10%;
}

li{
	font-size: 15px;
	padding: 10px;
}

h4{
	font-style: italic;
	font-size: 20px;
	text-align: center;
}


#link{
	text-align: center;
	font-size:  25px;
	padding: 15px;
}

